.btn {
  display: inline-flex;

  font-family: $ff-montserrat;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: 1px solid $color-navy-blue;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-resolution-blue;
    background-color: $color-transparent;
    border-color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-default-white;
    background-color: $color-resolution-blue;
    border-color: $color-resolution-blue;
  }

  &:disabled {
    opacity: 0.1;
    pointer-events: none;
  }
}
