.btn {
  display: inline-flex;
  padding: 21px 53px;

  font-family: $ff-montserrat;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: 1px solid $color-navy-blue;
  cursor: pointer;

  transition: opacity $trans-default;

  @include hover-focus {
    color: $color-resolution-blue;
    background-color: $color-transparent;
    border-color: $color-resolution-blue;
  }

  &:active {
    background-color: $color-resolution-blue;
    border-color: $color-resolution-blue;
  }

  &:disabled {
    opacity: 0.1;

    pointer-events: none;
  }

  @include vp-1199 {
    padding-right: 46px;
    padding-left: 46px;
  }

  @include vp-767 {
    padding: 18px 33px;
  }
}
