.education__container {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 95px;
  padding-top: 3px;

  @include vp-1199 {
    margin-bottom: 89px;
  }

  @include vp-767 {
    margin-bottom: -8px;
  }

  h3 {
    padding: 0 120px;
    font-size: 21px;
    line-height: 21px;

    @include vp-1439 {
      padding: 0 32px;
    }

    @include vp-1199 {
      padding: 0 45px;
      font-size: 18px;
      line-height: 18px;
    }

    @include vp-767 {
      padding: 0 15px;
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.education__description-container {
  margin-bottom: 56px;

  @include vp-1199 {
    margin-bottom: 66px;
  }

  @include vp-767 {
    margin-bottom: 49px;
  }

  h2 {
    margin: 0;
    margin-bottom: 32px;

    @include vp-1199 {
      margin-bottom: 21px;
    }

    @include vp-767 {
      margin-bottom: 16px;
      letter-spacing: 0;
    }

    &::before {
      left: 0;
    }
  }

  p {
    padding-right: 335px;
    font-size: 16px;
    line-height: 24px;

    @include vp-1199 {
      padding-right: 95px;
    }

    @include vp-767 {
      padding-right: 0;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.education__instructors-container {
  margin-bottom: 21px;

  @include vp-1199 {
    margin-bottom: 13px;
  }

  @include vp-767 {
    margin-bottom: 8px;
  }

  h3 {
    margin: 0;
    margin-bottom: 12px;

    @include vp-1199 {
      margin-bottom: 2px;
    }

    @include vp-767 {
      margin-bottom: 3px;
    }
  }
}

.education__process-container {
  border-bottom: 1px solid $color-navy-blue-opacity-light;

  @include vp-1199 {
    border-bottom: none;
  }

  h3 {
    margin: 0;
    margin-bottom: 41px;

    @include vp-767 {
      margin-bottom: 28px;
      padding: 0 19px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0;
    padding: 0 120px;
    list-style-type: none;

    @include vp-1439 {
      padding: 0 32px;
    }

    @include vp-1199 {
      grid-template-columns: minmax(354px, 1fr) 1fr;
      gap: unset;
      row-gap: 54px;
      padding: 0 45px;
    }

    @include vp-767 {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      row-gap: 0;
      padding: 0 52px;
    }
  }

  li {
    position: relative;
    display: grid;
    grid-template-columns: min-content minmax(238px, auto);
    column-gap: 15px;
    margin-bottom: 33px;

    @include vp-1439 {
      grid-template-columns: min-content minmax(222px, auto);
    }

    @include vp-1199 {
      grid-template-columns: min-content auto;
      margin-bottom: 0;
    }

    @include vp-767 {
      column-gap: 12px;
    }

    &::before {
      position: absolute;
      bottom: -41px;
      left: 0;
      width: 14px;
      height: 14px;
      background-color: $color-navy-blue;
      border-radius: 50%;
      content: "";

      @include vp-1199 {
        bottom: -7px;
      }

      @include vp-767 {
        top: 13px;
        bottom: unset;
        left: -33px;
      }
    }
  }

  li:first-of-type {
    @include vp-1199 {
      border-bottom: 1px solid $color-navy-blue-opacity;
    }

    @include vp-767 {
      border-bottom: none;
    }

    & + li::after {
      @include vp-1199 {
        position: absolute;
        bottom: -58px;
        left: 6px;
        width: 1px;
        height: 56px;
        border-left: 1px solid $color-navy-blue-opacity;
        content: "";
      }

      @include vp-767 {
      top: 20px;
      bottom: unset;
      left: -26px;
      width: 10px;
      height: 100%;
      }
    }

    & + li + li {
      @include vp-1199 {
        order: 1;
      }

      @include vp-767 {
        order: 0;
      }
    }
  }

  li:first-of-type,
  li:first-of-type + li {
    @include vp-1199 {
      padding-bottom: 15px;
    }

    @include vp-767 {
      padding-bottom: 25px;
    }
  }

  li:last-of-type {
    @include vp-1199 {
      border-top: 1px solid $color-navy-blue-opacity;
    }

    @include vp-767 {
      border-top: none;
    }

    &:after {
      @include vp-767 {
        display: none;
      }
    }
  }

  li:last-of-type,
  li:first-of-type + li + li {
    @include vp-1199 {
      padding-top: 20px;
    }

    @include vp-767 {
      padding-top: 0;
      padding-bottom: 25px;
    }

    &::before {
      @include vp-1199 {
        top: -7px;
        bottom: unset;
      }

      @include vp-767 {
        top: 13px;
        bottom: unset;
        left: -33px;
      }
    }
  }

  li::after {
    @include vp-767 {
      position: absolute;
      top: 20px;
      left: -26px;
      width: 10px;
      height: 100%;
      border-left: 1px solid $color-navy-blue-opacity;
      content: "";
    }
  }

  svg {
    align-self: center;

    @include vp-1199 {
      align-self: start;
      margin-top: 7px;
    }

    @include vp-767 {
      width: 19px;
      height: 19px;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;

    @include vp-1199 {
      padding-right: 80px;
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      padding-right: 0;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
