.gallery__description-container {
  margin-bottom: 45px;

  @include vp-1199 {
    margin-bottom: 36px;
  }

  @include vp-767 {
    margin-bottom: 64px;
  }

  h2 {
    margin: 0;
    margin-bottom: 24px;

    @include vp-1199 {
      margin-bottom: 24px;
    }

    @include vp-767 {
      margin-bottom: 15px;
    }

    &::before {
      left: 0;
    }
  }

  p {
    margin: 0;
    padding-right: 335px;
    font-size: 16px;
    line-height: 24px;

    @include vp-1199 {
      padding-right: 255px;
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      padding-right: 0;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.gallery__inner {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.gallery__item {
  width: 19.1%;
  height: auto;

  @include vp-1199 {
    width: 35.8%;
  }

  @include vp-767 {
    width: 49.68%;
  }
}

.gallery__item--double {
  display: flex;
  flex-direction: column;
  width: 20.7%;

  @include vp-1199 {
    width: 38.8%;
  }

  @include vp-767 {
    width: 53.75%;
  }
}

.gallery__item:first-of-type + .gallery__item--double + .gallery__item {
  width: 18.9%;

  @include vp-1199 {
    width: 35.41%;
  }

  @include vp-767 {
    width: 49.68%;
  }
}

.gallery__photo-container {
  & + .gallery__photo-container {
    margin-top: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery__slider-buttons {
  position: absolute;
  right: 110px;
  bottom: 111.4%;
  display: flex;

  @include vp-1439 {
    right: 20px;
  }

  @include vp-1199 {
    right: 35px;
    bottom: 112%;
  }

  @include vp-767 {
    right: 5px;
    bottom: 105.8%;
  }
}
