.hero__slider {
  position: relative;
  // max-height: 800px;

  // @include vp-1199 {
  //   max-height: unset;
  // }
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero__item {
  position: relative;
  height: auto;
  background: $black-russian-overlay;

  // @include vp-1439 {
  //   min-height: 667px;
  // }

  // @include vp-1199 {
  //   min-height: unset;
  //   max-height: 1024px;
  // }

  @include vp-767 {
    min-height: 568px;
  }
}

// Общие стили контента слайдов

.hero__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 182px 120px 79px;
  color: $color-default-white;

  @include vp-1439 {
    grid-template-columns: repeat(12, minmax(76px, 96px));
    padding: 142px 32px 49px;
    column-gap: 20px;
  }

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    padding: 174px 45px 169px;
    text-align: center;
  }

  @include vp-767 {
    padding: 140px 15px 152px;
  }

  h2 {
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    margin: 0;
    margin-bottom: 23px;
    font-size: 77px;
    line-height: 77px;
    font-weight: 800;
    z-index: 100;

    @include vp-1439 {
      font-size: 5.35vw;
    }

    @include vp-1199 {
      margin-bottom: 14px;
      font-size: 56px;
      line-height: 56px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 30px;
    }
  }

  p {
    grid-column: 1 / 6;
    margin: 0;
    margin-bottom: 37px;
    font-size: 17px;
    line-height: 24px;

    @include vp-1199 {
      margin-bottom: 26px;
      padding: 0 105px;
    }

    @include vp-767 {
      margin-bottom: 20px;
      padding: 0;
      font-size: 15px;
      line-height: 20px;
    }
  }

  .hero__button-container {
    grid-column: 1 / 4;
    margin-bottom: 92px;

    @include vp-1439 {
      margin-bottom: 0;
    }

    @include vp-1199 {
      margin-bottom: 50px;
    }

    @include vp-767 {
      width: 100%;
      margin-bottom: 0;
      padding: 0 55px;
    }
  }
}

.hero__content--caucasus {
  p {
    padding-right: 15px;

    @include vp-1199 {
      padding-right: 105px;
    }

    @include vp-767 {
      padding-right: 0;
    }
  }

  .hero__button-container {
    @include vp-767 {
      margin-bottom: 20px;
    }
  }
}

.hero__content--kamchatka {
  p {
    padding: 0 5px;
  }

  .hero__button-container {
    @include vp-1199 {
      margin-bottom: 34px;
    }

    @include vp-767 {
      margin-bottom: 0;
    }
  }
}

.hero__content--altai {
  h2 {
    grid-column: 1 / 11;
  }

  .hero__button-container {
    @include vp-1199 {
      margin-bottom: 69px;
    }

    @include vp-767 {
      margin-bottom: 0;
    }
  }
}

// Кнопка "Смотреть тур"

.hero__button {
  width: fit-content;
  height: fit-content;
  line-height: 14px;

  @include vp-767 {
    justify-content: center;
    width: 100%;
  }
}

.hero__features-container {
  grid-column: 1 / 6;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 57px;

  p {
    margin-bottom: 0;
    padding: 15px 19px 13px;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid $color-white-opacity-half;
  }

  svg {
    margin-right: 5px;
  }

  @include vp-1199 {
    display: none;
  }
}

// Фон

.hero__background-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  @include vp-767 {
    top: unset;
    bottom: 0;
  }
}

// Видео

.hero__video-container {
  position: relative;
  grid-column: 8 / -1;
  grid-row: 1 / 4;

  width: fit-content;
  margin-top: auto;
  margin-left: auto;

  @include vp-1199 {
    width: 100%;
    height: 0;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0 118px;
    padding-bottom: 44.25%;
    overflow: hidden;
  }

  @include vp-767 {
    display: none;
  }

  img {
    width: 100%;

    @include vp-1199 {
      max-height: 420px;
      object-fit: cover;
    }
  }

  iframe {
    width: 482px;
    height: 317px;
    border: 0;

    @include vp-1199 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 118px;
      outline-width: 0;
    }
  }
}

.hero__video-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 0;

  width: 56px;
  height: 56px;

  background-color: $color-white-opacity;
  border: 1px solid $color-default-white;
  border-radius: 50%;
  z-index: 30;

  @include vp-1199 { // для перекрытия стилей от .btn
    padding: 0;
  }

  svg {
    position: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: translateX(3px);
  }
}

// ПОЛАРОИД

.hero__polaroid-container {
  grid-column: 8 / -1;
  grid-row: 1 / 5;
  margin-top: 20px;
  margin-left: 72px;

  @include vp-1439 {
    margin: 0;
  }

  @include vp-767 {
    display: none;
  }

  img {
    width: auto;
  }
}

// АУДИО-ПЛЕЕР

.hero__audio-container {
  grid-column: 9 / -1;
  grid-row: 1 / 4;

  position: relative;
  width: 340px;
  height: 220px;
  margin-top: 119px;
  margin-left: auto;

  @include vp-1199 {
    margin: 0;
  }

  @include vp-767 {
    display: none;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
  }

  iframe {
    height: 100%;
    border: none;
  }
}

.hero__audio-button {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: -3px;
  display: block;
  margin: auto;
  padding: 0;

  width: 47px;
  height: 47px;

  color: $color-resolution-blue;
  background-color: $color-transparent;
  border: none;
  border-radius: 50%;
  z-index: 30;

  svg {
    position: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: translateX(2px);
  }

  &:hover {
    color: $color-navy-blue;
  }

  &:focus {
    color: $color-black-opacity;
  }
}

// Пагинация

.hero__pagination {
  position: absolute;
  max-width: 1440px;
}
