.main-header {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 50;
}

.main-header__overlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $color-black-opacity;
}

.main-header__container {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;

  padding-top: 40px;

  background-color: $color-transparent;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 55px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 39px;
  }
}

.main-header__logo-container {
  margin-right: 121px;

  @include vp-1439 {
    margin-right: 89px;
  }

  @include vp-1199 {
    margin: 0 auto;
    z-index: 1;
  }

  @include vp-767 {
    margin: 0;
    margin-left: auto;
  }
}

.main-header__container:has(.main-navigation--nojs) {
  position: unset;
  background-color: $color-default-white;
}

.main-header__container:has(.main-navigation--opened) {
  position: fixed;
  background-color: $color-default-white;

  .main-header__logo {
    color: $color-elephant;
  }
}
