.main-navigation {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(44px, auto));
    column-gap: 144px;
    row-gap: 37px;
    margin-top: -42px;
  }

  @include vp-767 {
    grid-template-rows: repeat(3, minmax(30px, auto));
    column-gap: 20px;
    row-gap: 11px;
    margin-top: -49px;
  }
}

.main-navigation__menu {
  @include vp-1199 {
    grid-row: 2 / -1;
    margin-left: -6px;
  }

  @include vp-767 {
    grid-row: 3 / -1;
  }

  ul {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;

    // margin: 0;
    // padding: 0;
    // list-style-type: none;

    @include vp-1199 {
      flex-direction: column;
    }
  }

  li {
    // flex-grow: 1;
    // padding: 20px 10px;
    // text-align: center;

    @include vp-1199 {
      padding: 10px;
      padding-left: 0;
      text-align: left;
    }

    @include vp-767 {
      padding: 7px;
      padding-left: 0;
    }
  }

  a {
    color: $color-default-white;

    &:hover {
      border-bottom-color: $color-default-white;
    }

    &:focus {
      border-color: $color-default-white;
      outline: none;
    }

    @include vp-1199 {
      font-weight: 700;
      letter-spacing: 0.64px;
      text-transform: uppercase;
      color: $color-elephant;

      &:hover {
        border-bottom: 1px solid $color-elephant;
      }

      &:focus {
        border-color: $color-elephant;
      }
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.56px;
    }
  }
}

.main-navigation__contacts {
  margin-left: 121px;

  @include vp-1439 {
    margin-left: 89px;
  }

  @include vp-1199 {
    grid-column: 2 / -1;
    margin-left: 40px;
    text-align: end;
  }

  @include vp-767 {
    grid-row: 2 / -1;
    align-self: flex-start;
    margin-left: 0;
  }

  a {
    color: $color-default-white;

    &.disabled {
      opacity: 0.1;
      pointer-events: none;
    }

    @include vp-1199 {
      font-size: 16px;
      line-height: 16px;

      &.disabled {
        color: $color-navy-blue;
      }
    }

    @include vp-767 {
      margin-top: 10px;
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.main-navigation__toggle {
  position: relative;
  display: none;

  width: 44px;
  height: 44px;
  padding: 0;

  background-color: $color-transparent;
  border: none;

  @include vp-1199 {
    display: block;
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
  }
}

// Меню без JS

.main-navigation--nojs {
  .main-navigation__toggle {
    display: none;
  }

  a {
    color: $color-elephant;

    &:not(.main-navigation__phone) {
      &:hover {
        border-bottom: 1px solid $color-elephant;
      }

      &:focus {
        border-color: $color-elephant;
      }
    }
  }
}

// Закрытое меню

.main-navigation--closed {
  .main-navigation__toggle-icon {
    position: absolute;
    top: 19px;
    left: 0;

    display: block;
    width: 17px;
    height: 2px;

    background-color: $color-default-white;
    transition: 0.3s;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 26px;
      height: 2px;
      background-color: $color-default-white;
      content: "";
    }

    &::before {
      top: -8px;
      transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::after {
      bottom: -8px;
      transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  @include vp-1199 {
    grid-template-rows: minmax(44px, auto);

    .main-navigation__menu {
      display: none;
    }
  }
}

// Открытое меню

.main-navigation--opened {
  .main-navigation__toggle-icon {
    position: absolute;
    top: 19px;
    left: 0;
    width: 20px;
    height: 2px;
    transition: 0.3s;

    &::before,
    &::after {
      position: absolute;
      right: -4px;
      width: 26px;
      height: 2px;
      content: "";
      background-color: $color-elephant;
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
  }

  .main-navigation__phone {
    color: $color-elephant;
  }
}
