.reviews {
  h2 {
    position: relative;
    margin: 0;
    margin-bottom: 7px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 800;
    z-index: 1;

    @include vp-1199 {
      margin-bottom: 30px;
      font-size: 25px;
      line-height: 25px;
    }

    @include vp-767 {
      margin-bottom: 33px;
      font-size: 22px;
      line-height: 22px;
    }

    &::before {
      position: absolute;
      top: -17px;
      left: 10%;
      transform: translateX(-50%);
      font-size: 55px;
      line-height: 55px;
      font-weight: 800;
      color: $color-elephant;
      opacity: 0.03;
      z-index: -1;
      content: attr(data-parent);

      @include vp-1199 {
        top: -13px;
        left: 16.4%;
        font-size: 40px;
        line-height: 40px;
      }

      @include vp-767 {
        top: -4px;
        left: 49.5%;
        width: 100%;
        font-size: 26px;
        line-height: 26px;
      }
    }
  }
}

.reviews__container {
  position: relative;
  padding-left: 90px; // может, решить через вычисляемую величину?

  @include vp-1439 {
    padding: 0;
  }

  @include vp-1199 {
    padding: 0 15px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.reviews__slider-buttons {
  position: absolute;
  right: 110px;
  bottom: 106%;
  display: flex;

  @include vp-1439 {
    right: 20px;
  }

  @include vp-1199 {
    right: 35px;
    bottom: 98.7%;
  }

  @include vp-767 {
    right: 5px;
    bottom: 98.8%;
  }
}

.reviews__slider {
  // отступы здесь нужны для того, чтобы была видна box-shadow у карточки с отзывом
  padding: 0 30px;

  @include vp-767 {
    padding: 0 15px;
  }
}

// Слайд

.reviews__item {
  max-width: 790px;
  height: auto;
}

.reviews__inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 30px;

  margin: 20px 0;
  padding: 20px;
  padding-right: 40px;
  background-color: $color-default-white;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);

  blockquote {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 14px;
  }

  p {
    margin: 0;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  p + p {
    margin-top: 10px;
    margin-bottom: 26px;
  }

  cite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 16px;
  }

  span {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
    font-style: normal;
  }

  span:first-of-type {
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;

    @include vp-1199 {
      font-size: 12px;
      line-height: 12px;
    }
  }
}

.reviews__image-container {
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
