.tours {
  position: relative;
}

.tours__background-container {
  position: absolute;
  top: -18px;
  right: 0;
  z-index: -1;

  @include vp-1199 {
    top: -95px;
  }

  @include vp-767 {
    top: 137px;
  }

  img {
    width: auto;
  }
}

.tours__clouds-container {
  position: absolute;
  top: 53%;
  left: 0;

  @include vp-1199 {
    display: none;
  }

  img {
    width: auto;
  }
}

.tours__container {
  position: relative;
  padding-top: 123px;
  padding-bottom: 101px;

  @include vp-1199 {
    padding: 88px 51px 62px;
  }

  @include vp-767 {
    padding: 67px 15px 64px;
  }

  h2 {
    margin: 0;
    margin-bottom: 54px;

    @include vp-1199 {
      margin-bottom: 43px;
      margin-left: -6px;
    }

    @include vp-767 {
      width: 100%;
      margin-bottom: 27px;
      margin-left: 0;
      letter-spacing: 0.14px;
    }

    &::before {
      left: 0;
    }
  }

  br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}

.tours__slider {
  margin-bottom: 33px;

  @include vp-767 {
    max-width: 420px;
    margin-bottom: 29px;
  }
}

.tours_list .tours__item {
  box-shadow: none;
}

.tours__image-container {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tours__content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 206px 20px 24px;
  color: $color-default-white;
  background: $black-tours-overlay;
  z-index: 1;

  @include vp-1439 {
    padding-top: 186px;
  }

  @include vp-1199 {
    padding-top: 206px;
  }

  @include vp-767 {
    padding-top: 197px;
    padding-bottom: 24px;
  }

  h3 {
    position: relative;
    margin: 0;
    margin-bottom: 35px;
    padding-right: 70px;
    font-size: 24px;
    line-height: 28px;

    @include vp-1199 {
      padding-right: 50px;
    }

    @include vp-767 {
      margin-bottom: 29px;
      padding-right: 30px;
      font-size: 20px;
      line-height: 24px;
    }

    &::before {
      position: absolute;
      bottom: -17px;
      left: 0;
      width: 80px;
      height: 1px;
      border-bottom: 1px solid $color-white-opacity;
      content: "";

      @include vp-767 {
        bottom: -16px;
      }
    }
  }
}

.tours__info-container {
  display: flex;
  gap: 37px;
  margin-bottom: 23px;
  order: -1;

  @include vp-1199 {
    gap: 17px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    column-gap: 17px;
    row-gap: 15px;
    max-width: 285px;
    margin-bottom: 15px;
    padding-right: calc(93% - 250px);
  }

  p {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 5px 0;

    @include vp-767 {
      flex-grow: 0;
      width: unset;
      padding: 0;
    }

    &:first-of-type {
      gap: 6px;
      min-width: 108px;
      background-color: $color-navy-blue;
      padding: 8px;
      padding-top: 9px;

      @include vp-1199 {
        min-width: unset;
        padding: 9px 24px 8px 15px;
      }

      @include vp-767 {
        order: 1;
      }
    }
  }

  span {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
  }
}

.tours__info-container--caucasus {
  gap: 26px;

  @include vp-1199 {
    gap: 17px;
  }

  @include vp-767 {
    column-gap: 25px;
    row-gap: 15px;
  }

  p {
    gap: 12px;

    @include vp-1199 {
      padding-right: 7px;
    }
  }

  p:first-of-type {
    @include vp-1199 {
      padding: 9px 24px 8px 15px;
    }
  }
}

.tours__info-container--altai {
  @include vp-1439 {
    gap: 27px;
  }

  @include vp-1199 {
    gap: 17px;
  }

  @include vp-767 {
    column-gap: 17px;
    row-gap: 15px;
  }

  p:first-of-type {
    padding-left: 2px;

    @include vp-1199 {
      padding-left: 15px;
    }
  }
}

.tours__info-container--adygea {
  gap: 30px;

  @include vp-1199 {
    gap: 17px;
  }

  @include vp-767 {
    column-gap: 20px;
    row-gap: 15px;
  }

  p {
    gap: 10px;

    &:first-of-type {
      @include vp-1199 {
        padding-right: 19px;
        padding-left: 14px;
      }

      @include vp-767 {
        padding-right: 20px;
      }
    }
  }
}

.tours__features-container {
  margin-top: auto;

  table {
    width: 100%;
  }

  tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -2px;
    padding-right: 3px;

    @include vp-1199 {
      margin-right: -3px;
    }
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  td {
    padding: 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;

    & + td {
      margin-top: 6px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 12px;
    }
  }

  td:first-of-type {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }

  svg {
    fill: $color-default-white;

    @include vp-767 {
      width: 12px;
      height: 12px;
    }
  }

  svg + svg {
    margin-left: -3px;

    @include vp-1199 {
      margin-left: -2px;
    }

    @include vp-767 {
      margin-left: 0;
    }
  }
}

// Кнопки управления слайдером

.tours__slider-buttons {
  position: absolute;
  top: 145px;
  right: 110px;

  display: flex;

  @include vp-1439 {
    right: 22px;
  }

  @include vp-1199 {
    top: 105px;
    right: 35px;
  }

  @include vp-767 {
    top: 91px;
    right: 5px;
  }
}

// Ссылка "Показать все туры"

.tours__link {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: $color-elephant;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $color-resolution-blue;
  }

  &:active {
    color: $color-navy-blue;
  }

  &.disabled {
    color: $color-navy-blue;
    opacity: 0.1;
    pointer-events: none;
  }

  @include vp-767 {
    gap: 10px;
    padding: 0;
    padding-left: 2px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}
